<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 id="app">{{ text }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Pass</button>
    </form>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</body>
<script>
    var socket = new WebSocket('ws://localhost:8000/ws/some_url');
    socket.onmessage = (event) =>{
        var data = JSON.parse(event.data);
        console.log(data);
        document.querySelector('#app').innerHTML = data.message;
    }
    socket.onerror = (error) =>{
        console.log(error);
    }

</script>
</html>